__pycache__/directory_name.cpython-311.pyc
__pycache__/gui_calculator.cpython-311.pyc
__pycache__/gui_faxReceive.cpython-311.pyc
__pycache__/gui_pdf2jpg.cpython-311.pyc
__pycache__/gui_Utilities.cpython-311.pyc
__pycache__/lib_calc_method.cpython-311.pyc
__pycache__/lib_faxReceive.cpython-311.pyc
__pycache__/lib_movefile.cpython-311.pyc
__pycache__/lib_pdf2jpg.cpython-311.pyc
__pycache__/settingFille.cpython-311.pyc
